body {
    margin: 0;
    padding: var(--alxgrn-unit);
    font-family: var(--alxgrn-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--alxgrn-bg-main);
}
