body {
    margin: 0;
    padding: 0;
    font-family: var(--alxgrn-font-family);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--alxgrn-color-text);
    background-color: var(--alxgrn-bg-main);
    /* Это нужно чтобы скроллбар был всегда, тогда при появлении модалки он не пропадает */
    overflow-y: scroll;
}
